* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "scoutie";
  src: url("../fonts/ScoutieSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background: #F7F7F8;
  -webkit-font-smoothing: antialiased;
  font-family: "scoutie";
}

/* body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 1px;
  height: 40px;
  background: #d8b64b;
} */

.site {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 40% 60%;
}

.sidebar {
  position: relative;
}

.sidebar-inner {
  position: sticky;
  top: 0;
  min-height: 100vh;
  padding: 90px 50px 80px 0;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #070d0d;
}

h2 {
  margin: 14px 0 0;
  font-size: 20px;
  color: #070d0d;
}

.tagline {
  margin: 19px 0 0;
  font-size: 16px;
  color: #0D0D0D;
}

.nav {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.nav-link {
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: color .3s ease;
  color: #7B7B7B;
}

.nav-link:hover,
.nav-link.active {
  color: #000000;
}

.socials {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: auto;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.social:hover {
  background-color: #000000;
}

.social:hover .icons {
  filter: brightness(0) invert(1);
}

.icons{
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.content {
  padding: 90px 0 80px 50px;
}

.section {
  scroll-margin-top: 60px;
}

.section p {
  max-width: 700px;
  font-size: 16px;
  color: #0D0D0D;
  line-height: 22px;
}